body {
  font-family: 'Raleway', sans-serif;
}

:root {
  --light-grey: #e0e0e0;
  --dark-grey: #606060;
  --red-bg: #da1e5d;
}
#container {
display: block;
grid-gap: 5px;
}

.card {
  background-color: #da1e5d;
  color : #fff;
  height: 100px;
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border-radius:10px;
}

.active {
  color: #e0e0e0;
  background: #606060;
}
.btn{
  padding:10px;
  border-radius: 5px;
  border:none;
}